# See https://help.github.com/ignore-files/ for more about ignoring files.

# Folders
/dist
/node_modules
/bower_components

# Files
.DS_Store
.env
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
