.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;

	input {
		width: 80%;
		min-width: 120px;
		background: none;
		@include rounded(5px);
		&:hover { border: 1px solid white; }
		&::placeholder { color: white; }
	}
}

.flex-border {
	border-left:  1px dotted $gray;
	border-right: 1px dotted $gray;
	@include rounded(18px);
}

.flex-item.flex-button {
	flex-shrink: 0;
	margin-left: -5px;
	max-width: 260px;
	min-width: 200px;
	text-align: left;
}

.flex-item {
	flex: 1;
	flex-shrink: 2;
	padding: 5px;
	width: 100%;
	height: 50px;
	font-size: 1em;
	line-height: 50px;
	text-align: center;
	em { position: relative; top: 4px; margin-right: 4px; font-size: 1.5em; }
}

.coin-logo {
	float: left;
	position: relative;
	top: 9px;
	left: 9px;
	margin-right: 16px;
}

.asset-btn {
	height: 48px;
	strong, small { float: left; width: 100%; text-align: left; }
	strong { margin-top: -15px; font-weight: 700; }
	small { margin-top: -30px; font-size: em(13); color: #ccc; }
}

.asset-name {
	float: left;
	padding-top: 5px;
    margin-left: 10px;
}
