#search-coin-component {
	.icon-cancel-outline {
		opacity: .7;
		font-size: 1.5em;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    &:hover { opacity: 1; }
	}
}

.coin-search-input {
	position: relative;
	z-index: 10;
	width: 173px;
	color: black;
	@include roundedAdv(4px, 4px, 0, 0);
	&:hover { background: white; }
}

.cancel-search {
	float: left;
	margin: 5px 0 0 5px;
	width: 30px;
	height: 30px;
}

.coins-container {
	flex-wrap: wrap;
	position: relative;
	z-index: 10;
}

.coin-select {
	float: left;
	overflow-y: auto;
	width: 99%;
	max-height: 400px;
	background: white;

	li {
		display: flex;
		justify-content: space-between;
	  padding: 5px;
		height: 40px;
		color: $gray;
		cursor: pointer;
		@include transition(background, .3s, ease-in-out);
		&:hover { color: white; background: $violet; }
	}

	button {
		padding: 0;
		background: none;
		border: none;
		width: 100%;
		text-align: left;
	}

	span { position: relative; top: 1em; }

	.coin-logo { top: 5px; }
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
