.ico-add,
.ico-close {
	position: relative;
	background-size: 320px 240px;
	background-image: url(http://coinhover.now.sh/static/imgs/coinhover.svg), none;
}

.ico-add,
.ico-close {
	width: 36px;
	height: 36px;
    cursor: pointer;
}

.ico-add { background-position: -2px -2px; }
.ico-close { background-position: -47px -7px; }