.app-bg {
	position: absolute; width: 100%; height: 100%;
	@include linear-gradient($purple, $violet);
}

.portfolio {
	margin: 40px auto;
	width: 100%;
	text-align: center;
	h1 { margin: 20% 0 5px 0; font-weight: 900; font-size: 4em; }
	h2 { font-size: 1.5em; line-height: 32px; color: #ccc; }
	h2, p { margin-bottom: 10px; color: #ccc; }
	a {
		font-weight: 400; color: $green;
		&:hover { color: lighten($green, 10%); }
	}
	footer {
		position: fixed;
		bottom: 20px;
		width: 100%;
		margin: 0 auto;
		padding: 20px 20px 0 20px;
		// margin: 20px auto; width: 83px;
		em { margin-right: 8px; font-size: 14px; color: #ccc; opacity: .8; }
		li { float: left; margin-right: 5px; }
	}
}