.app-bg {
	position: absolute; width: 100%; height: 100%;
	@include linear-gradient($purple, $violet);
}

.plus {
    position: relative;
	top: 5px;
    margin-right: 5px;
	font-size: 1.5em;
	font-weight: 100;
}

.portfolio {
	position: relative;
	margin: 0 auto;
	padding: 15px 30px 30px 30px;

	header {
		position: relative;
		top: 0;
		border-bottom: 1px solid #666;

		em {
			position: absolute;
			top: 20px;
			right: 0;
			font-size: 3em;
			color: lighten($green, 10%);
		}
	}

	h1 { font-weight: 900; font-size: 2em; }
	h2 { font-size: 1em; line-height: 32px; color: #ccc; }
	h2, p { margin-bottom: 10px; color: #ccc; }

	a {
		font-weight: 400; color: $green;
		&:hover { color: lighten($green, 10%); }
	}

	footer {
		position: fixed;
		bottom: 20px;
		width: 100%;
		margin: 0 auto;
		padding: 30px 30px 0 0;

		em {
			margin-right: 8px;
			font-size: 14px;
			color: #ccc;
			opacity: .8;
		}

		li { float: left; margin-right: 5px; }
	}

	.loading {
		font-size: 1.25em;
		text-align: center;
		span {
			opacity: .5;
			position: relative;
			top: -40px;
		}
	}
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}