.app-bg {
	position: absolute; width: 100%; height: 100%;
	@include linear-gradient($purple, $violet);
}

.welcome {
	margin: 40px auto;
	width: 640px;
	text-align: center;
	header { color: white; }
	h1 { margin: 20% 0 5px 0; font-weight: 900; font-size: 4em; }
	h2 { margin-bottom: 10px; font-size: 1.5em; line-height: 32px; color: #ccc; }
	h2, p { color: #ccc; }
	footer {
		margin: 20px auto; width: 100px;
		li { float: left; margin-right: 5px; }
	}
}