.app-bg {
	position: absolute;
    width: 100%;
    height: 100%;
	@include linear-gradient($purple, $violet);
}

.welcome {
	margin: 40px auto;
	width: 320px;
	header { color: white; }
	h1 { margin-bottom: 5px; font-size: 4em; }
	h2 { font-size: 1em; color: #ccc; }
}

.coin-table {
	margin-top: 30px;
	p {
		margin-bottom: 8px;
		font-size: 15em;
		color: $violet;
	}
}

.coin-input {
	padding: 25px;
	border: 1px solid $violet;
	cursor: pointer;
	@include rounded(6px);
}