$blue: #024562;
$green: #00B290;
$orange: #FF4500;
$orange_bright: #FF5719;
$teal: #00FFCE;
$red: #F25A43;
$gray: #454545;
$purple: #040d40;
$purple_dark: #191933;
$violet: #842b59;
$offwhite: #fff5ee;
$bitcoin: #f7931a;

$body: $violet;

.positive { color: $green; }

.negative { color: $red; }