/*  Responsive media queries
============================================================
========================================================= */

/* 1280
========================================================= */
@media all and (max-width: 1280px) {
}

/* 1000
========================================================= */
@media all and (max-width: 1000px) {
}

/* 900
========================================================= */
@media all and (max-width: 900px) {
}

/* 800
========================================================= */
@media all and (max-width: 800px) {
}

/* 640
========================================================= */
@media all and (max-width: 640px) {
	.welcome {
		margin: 40px auto;
		width: 320px;
		h1 { font-size: 54px; }
		h2 { font-size: 1.25em; line-height: 24px; }
	}
}
